<li class="list-group-item row guest-added">
  <div class="col-xs-4">
    <%= first_name %>
  </div>

  <div class="col-xs-4">
    <%= email %>
  </div>

  <div class="col-xs-4 guest-status">
    <i class="fa fa-check-circle fa-3x checkmark-completed"></i>
  </div>

  <div class="col-xs-12 error-message"></div>
</li>
