default: &default
  encoding: utf8
  pool: 5

development:
  <<: *default
  adapter: mysql2
  database: wedding_rsvp_development
  username: root
  password: <%= ENV['db_dev_pass'] %>
  socket: /tmp/mysql.sock

test: &test
  <<: *default
  adapter: mysql2
  database: wedding_rsvp_test
  username: root
  password: <%= ENV['db_dev_pass'] %>
  socket: /tmp/mysql.sock

production:
  <<: *default
  adapter: mysql2
  database: wedding_rsvp_production
  username: root
  password: <%= ENV['db_dev_pass'] %>
  socket: /tmp/mysql.sock

staging:
  <<: *default
  adapter: mysql2
  database: wedding_rsvp_staging
  username: root
  password: <%= ENV['db_dev_pass'] %>
  socket: /tmp/mysql.sock
