# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$ ->
  @addGuestForm = ->
    event.preventDefault()
    elem = $( "#guest-fields" ).clone()
    elem.attr("id","")
    elem.removeClass('hidden')
    elem.find("input[type=text]").val("")
    elem.append("<a class='blue-link' onclick='removeGuestForm(this)'>"+"<%= I18n.t(:remove) %>"+"</a>")
    elem.append('<br><br>')
    elem.appendTo( "#more-guests" )
    return
  @removeGuestForm = (elem)->
    event.preventDefault()
    elem.closest('.guest-fields').remove()
    return
