// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-container {
  padding: 50px;
}
