// Place all the styles related to the Guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkmark-completed {
  color: $brand-success;
  visibility: hidden;
}

.color-error {
  color: $brand-danger;
}
