// Place all the styles related to the Rsvp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.radio-wrapper{
  color: #999;
  position: relative;
  height: 100px;
	text-align: center;
  display: inline-block;
}

.custom-radio{
  visibility: hidden;
}

.radio-label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  //padding: 25px 25px 25px 80px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.radio-label:hover{
	color: lighten($brand-primary, 20%);
}

.radio-wrapper .check{
  display: block;
  position: relative;
  border: 5px solid #999;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 0;
  left: calc(50% - 16px);
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.radio-wrapper:hover .check {
  border: 5px solid lighten($brand-primary, 20%);
}

.radio-wrapper .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 2px;
  left: 2px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.custom-radio:checked ~ .check {
  border: 5px solid $brand-primary;
}

.custom-radio:checked ~ .check::before{
  background: $brand-primary;
}

.custom-radio:checked ~ label{
  color: $brand-primary;
}
