// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * { border: 1px solid red; }

// THEME OVERRIDE
h1, .h1 {
  font-size: 50px !important;
  margin: 0 !important;
}

h4 { margin-bottom: 5px !important;}

a {
  cursor: pointer;
}

body#page-top {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;

  h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Montserrat', sans-serif;
  }

}

.intro {
  background: image_url("couple") no-repeat center center scroll #000 !important;
  background-size: 100% !important;
}

.page-title{
  color: #f1f1f1;
  text-shadow: 2px 2px 9px rgba(150, 150, 150, 1);
}

.content-section {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.navbar-custom.top-nav-collapse {
  background: $brand-primary !important;
}

.white-section {
  background-color: #fff;
  color: #000;
}

.grey-section {
  background-color: #eee;
  color: #000;
}

#map {
  margin-top: 0 !important;
  height: 300px !important;
}


// CUSTOM
.no-margin {
  margin: 0;
}

.btn-visit {
  margin-top: -10px;
  margin-bottom: 35px;
}

.btn-default {
  color: $brand-primary !important;
  border-color: $brand-primary !important;
  &:hover, &:focus{
    color: #fff !important;
    background-color: $brand-primary !important;
  }
}

.description {
  p { margin: 0 0 15px !important; }
}


// COUNTDOWN
.countdown-container div {
  display: inline-block;
  margin-left: 10px;
  font-size: 42px;
  font-weight: 100;
  line-height: 1;
  text-align: center;
}

.countdown-container div:first-child {
  margin-left: 0;
}
.countdown-container div span {
  display: block;
  padding-top: 3px;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}



// RESPONSIVE


@media (min-width: 767px) {

  .navbar-brand {
    color: #000 !important;
  }

  .content-section {
    padding-top: 60px !important;
  }

  .intro {
    height: 75% !important;
  }

  p {
    font-size: 18px !important;
  }

}

@media (max-width: 767px) {
  .navbar-custom {
    background: $brand-primary !important;
  }

  .intro {
    margin-top: 54px;
  }

}

@media (max-width: 554px) {

  .intro {
    margin-top: 0;
    padding-bottom: 20px !important;
  }

}

@media (max-width: 365px) {
  h1 {
    font-size: 2.2em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
}
