// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, .h1 {
  font-size: 50px !important;
  margin: 0 !important;
}

h4 { margin-bottom: 5px !important;}

a {
  cursor: pointer;
}

body#page-top {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;

  h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Montserrat', sans-serif;
  }

}

.intro {
  background: image_url("couple") no-repeat bottom center scroll #000 !important;
}

.content-section {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 60px !important;
  }

  .intro {
    height: 75% !important;
  }

  p {
    font-size: 18px !important;
  }
}

.white-section {
  background-color: #fff;
  color: #000;
}

.grey-section {
  background-color: #eee;
  color: #000;
}

.no-margin {
  margin: 0;
}

.btn-visit {
  margin-top: -10px;
}


// COUNTDOWN
.countdown-container div {
  display: inline-block;
  margin-left: 10px;
  font-size: 42px;
  font-weight: 100;
  line-height: 1;
  text-align: center;
}

.countdown-container div:first-child {
  margin-left: 0;
}
.countdown-container div span {
  display: block;
  padding-top: 3px;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
